@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes scrollDown {
  0% {
    opacity: 0;
    height: 0vh;
  }
  100% {
    opacity: 1;
    height: 100vh;
  }
}

.animated-moveInBottom {
  animation: moveInBottom 1s ease-out 1.2s;
  animation-fill-mode: backwards;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
@media (max-width: 1200px) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 800px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 45%;
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;
}
@media (max-width: 800px) {
  body {
    padding: 0rem;
  }
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: #777;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;
}
.heading-primary--main {
  display: inline-block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  /*
        animation-delay: 3s;
        animation-iteration-count: 3;
        */
}
@media (max-width: 800px) {
  .heading-primary--main {
    letter-spacing: 1.5rem;
    font-size: 5rem;
    font-weight: 400;
  }
}
.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.75rem;
  animation: moveInRight 1s ease-out;
}
@media (max-width: 800px) {
  .heading-primary--sub {
    letter-spacing: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
  }
}

.heading-secondary {
  margin-top: 2rem;
  font-size: 4rem;
  text-transform: uppercase;
  color: white;
  text-align: center;
  background: linear-gradient(to right, #e69c26, #fdca24) no-repeat;
  display: inline-block;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: transform 0.5s;
}
@media (max-width: 800px) {
  .heading-secondary {
    font-size: 3rem;
  }
}
@media (max-width: 600px) {
  .heading-secondary {
    font-size: 2.5rem;
  }
}
.heading-secondary:hover {
  transform: skewy(5deg);
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;
}
.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.card {
  font-size: 1.6rem;
  color: #777;
}
.card:not(:last-child) {
  margin-bottom: 4rem;
} 

.center-elements {
  text-align: center;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

.u-margin-top-small {
  margin-top: -1.5rem !important;
}

.u-margin-top-medium {
  margin-top: -4rem !important;
}

.u-margin-top-big {
  margin-top: -8rem !important;
}

.navigation {
  position: relative;
}

.nav {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1400;
  height: 0vh;
  width: 100%;
  overflow: hidden;
  transition: all 1s cubic-bezier(0.94, -0.22, 0.04, 1.3);
}
.nav-checkbox {
  display: none;
}
.nav-checkbox:checked ~ .nav {
  visibility: visible;
  opacity: 0.95;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1400;
  height: 100vh;
  width: 100%;
  background-color: #2565a1;
}
.nav-bttn {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  background-color: #fff;
  display: block;
  position: fixed;
  z-index: 2000;
  top: 6rem;
  right: 6rem;
}
@media (max-width: 800px) {
  .nav-bttn {
    top: 2rem;
    right: 2rem;
  }
}
.nav-bttn-line {
  width: 2.5rem;
  height: 0.24rem;
  background-color: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  transition: all 0.5s cubic-bezier(0.94, -0.22, 0.04, 1.3);
}
.nav-bttn-line-1 {
  transform: translate(-50%, 200%);
}
.nav-bttn-line-2 {
  transform: translate(-50%, 0%);
}
.nav-bttn-line-3 {
  transform: translate(-50%, -200%);
}
.nav-bttn:hover .nav-bttn-line-1 {
  transform: translate(-50%, -500%);
}
.nav-bttn:hover .nav-bttn-line-2 {
  transform: translate(-50%, 0%);
}
.nav-bttn:hover .nav-bttn-line-3 {
  transform: translate(-50%, 500%);
}
.nav-checkbox:checked ~ .nav-bttn {
  box-shadow: 0 0.5em 0.8em rgba(0, 0, 0, 0.2);
}
.nav-checkbox:checked ~ .nav-bttn .nav-bttn-line-1 {
  transform: translate(-50%, 0) rotate(45deg);
}
.nav-checkbox:checked ~ .nav-bttn .nav-bttn-line-2 {
  transform: translate(-50%, 0%);
  opacity: 0;
}
.nav-checkbox:checked ~ .nav-bttn .nav-bttn-line-3 {
  transform: translate(-50%, 0) rotate(-45deg);
}
.nav-checkbox:checked ~ .nav-bttn:hover .nav-bttn-line-1 {
  transform: translate(-50%, 0) rotate(45deg);
  background-color: #e69c26;
}
.nav-checkbox:checked ~ .nav-bttn:hover .nav-bttn-line-3 {
  transform: translate(-50%, 0) rotate(-45deg);
  background-color: #e69c26;
}
.nav-bg {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  background-color: transparent;
  display: block;
  position: fixed;
  z-index: 1000;
  top: 6rem;
  right: 6rem;
}
.nav-list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1500;
}
.nav-list-item {
  list-style-type: none;
}
.nav-link {
  transition: all 1s;
}
.nav-link:visited,
.nav-link:link {
  display: inline-block;
  padding: 1rem 2rem;
  width: 100%;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 3rem;
  background-image: linear-gradient(
    65deg,
    transparent 0%,
    transparent 50%,
    #fff 50%
  );
  background-size: 300%;
}
.nav-link:hover {
  background-position: 100%;
  color: #2565a1;
}

.bttn-main {
  display: inline-block;
  padding: 0.5em 1.5em 0.4em 1.4em;
}
.bttn-main,
.bttn-main:visited,
.bttn-main:link {
  border: none;
  background: none;
  text-decoration: none;
  font-size: 1.6rem;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.35);
  border-radius: 2.5rem;
  border-bottom: solid #fff 0.1rem;
  transition: all 0.2s;
}
.bttn-main:hover {
  background-color: rgba(255, 255, 255, 0.25);
  color: #fff;
  transform: translateY(-0.2em);
  box-shadow: 0 0.5em 0.8em rgba(0, 0, 0, 0.2);
  border-radius: 2.5rem;
}
.bttn-main:active {
  background-color: rgba(255, 255, 255, 0.35);
  color: #fff;
  transform: translateY(-0.1em);
  box-shadow: 0 0.2em 0.8em rgba(0, 0, 0, 0.3);
  border-radius: 1.2rem;
}
.bttn-main:active {
  outline: none;
}

.bttn-sm {
  display: inline-block;
  padding: 0.25em 1.6em 0.1em 1.5em;
}
.bttn-sm,
.bttn-sm:visited,
.bttn-sm:link {
  border: none;
  background: none;
  text-decoration: none;
  font-size: 1.6rem;
  font-family: inherit;
  color: #e69c26;
  border-bottom: solid #e69c26 0.25rem;
  transition: all 0.2s;
}
.bttn-sm:hover {
  background-color: #e69c26;
  color: white;
  transform: translateY(-0.2em);
  box-shadow: 0 0.5em 0.8em rgba(67, 151, 130, 0.35);
  border-radius: 2.5rem 0.1rem;
  opacity: 0.7;
}
.bttn-sm:active {
  background-color: #e69c26;
  color: white;
  transform: translateY(-0.1em);
  box-shadow: 0 0.2em 0.8em rgba(67, 151, 130, 0.55);
  border-radius: 1.5rem 0;
  opacity: 0.8;
}
.bttn-sm:active {
  outline: none;
}
.bttn-sm .submit {
  margin-left: -0.1rem;
}

.bttn-sm-2 {
  display: inline-block;
  padding: 0.25em 1.6em 0.1em 1.5em;
}
.bttn-sm-2,
.bttn-sm-2:visited,
.bttn-sm-2:link {
  border: none;
  background: none;
  text-decoration: none;
  font-size: 1.6rem;
  font-family: inherit;
  color: #fff;
  border-bottom: solid #fff 0.25rem;
  transition: all 0.2s;
}
.bttn-sm-2:hover {
  background-color: #fff;
  color: #777;
  transform: translateY(-0.2em);
  box-shadow: 0 0.5em 0.8em rgba(67, 151, 130, 0.35);
  border-radius: 2.5rem 0.1rem;
  opacity: 0.7;
}
.bttn-sm-2:active {
  background-color: #fff;
  color: white;
  transform: translateY(-0.1em);
  box-shadow: 0 0.2em 0.8em rgba(67, 151, 130, 0.55);
  border-radius: 1.5rem 0;
  opacity: 0.8;
}
.bttn-sm-2:active {
  outline: none;
}
.bttn-sm-2 .submit {
  margin-left: -0.1rem;
}

.card {
  height: 50rem;
  perspective: 150rem;
  position: relative;
  width: 100%;
  margin: auto;
}
@media (max-width: 800px) {
  .card {
    width: 40%;
  }
}
@media (max-width: 600px) {
  .card {
    width: 100%;
  }
}

.card-side {
  overflow: hidden;
  position: relative;
  border-radius: 5rem;
  height: 40rem;
  width: 100%;
  position: absolute;
  display: block;
  backface-visibility: hidden;
  transition: all 1.2s ease;
  box-shadow: 0 0.5em 0.8em rgba(0, 0, 0, 0.25);
}
.card-side__front {
  background: white;
}
.card-side__back {
  border: white solid 5px;
  transform: rotateY(0.5turn);
}
.card-side > ul {
  list-style-type: none;
  width: 70%;
  margin: auto;
}
.card-side > ul li {
  text-align: center;
}
.card-side > ul li:not(:last-child) {
  border-bottom: solid 1px orange;
}
.card:hover .card-side__front {
  transform: rotateY(-0.5turn);
}
.card:hover .card-side__back {
  transform: rotateY(0turn);
}
.card__cta {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}
.card__cta .card__price-value {
  margin-top: none;
  font-size: 5rem;
  font-weight: 300;
}
.card__cta .card__price-only {
  font-weight: 600;
  margin-bottom: -1.5rem;
}

.card__picture {
  margin: auto;
  height: 23rem;
  background-size: cover;
  background-position: center;
  margin-bottom: 2rem;
  border-radius: 5rem;
  background-blend-mode: screen;
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    75% 75%,
    75% 100%,
    50% 75%,
    0% 75%
  );
}
.card__picture--1 {
  background-image: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.8),
      rgba(230, 156, 38, 0.5)
    ),
    url("../img/hero-small.jpg");
}
.card__picture--2 {
  background-image: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.8),
      rgba(37, 101, 161, 0.5)
    ),
    url("../img/nat-7.jpg");
}
.card__picture--3 {
  background-image: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.8),
      rgba(253, 202, 36, 0.5)
    ),
    url("../img/nat-5.jpg");
}

.card_heading {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  padding: 0.5rem 1.5rem;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
}
.card_heading--1 {
  background-color: rgba(0, 0, 0, 0.1);
}
.card_heading--2 {
  background-color: rgba(0, 0, 0, 0.1);
}
.card_heading--3 {
  background-color: rgba(0, 0, 0, 0.1);
}

#back-1 {
  background-image: linear-gradient(to right bottom, #e69c26, #ebb154);
}

#back-2 {
  background-image: linear-gradient(to right bottom, #fdca24, #fdd657);
}

#back-3 {
  background-image: linear-gradient(to right bottom, #2565a1, #2f7fca);
}

.composition {
  position: relative;
}
.composition__photo {
  width: 50%;
  position: absolute;
  box-shadow: 0 1em 2em rgba(0, 0, 0, 0.4);
  transition: all 0.2s;
  z-index: 0s;
}
.composition__photo:hover {
  z-index: -1;
}
.composition__photo--first {
  z-index: 1;
  left: 0;
  top: -2rem;
}
.composition__photo--second {
  z-index: 2;
  right: 0;
  top: 2rem;
}
.composition__photo--third {
  z-index: 3;
  left: 20%;
  top: 10rem;
}
.composition__photo:hover {
  z-index: 40;
  transform: scale(1.2);
  outline: solid 1em #e69c26;
  padding: 1em;
}
.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.9);
}

.form {
  margin: auto;
  width: 50%;
  padding: 6rem;
  float: left;
}
@media (max-width: 600px) {
  .form {
    width: 80%;
    text-align: center;
    float: none;
  }
}
.form__group:not(:last-child) {
  margin-bottom: 2rem;
}
.form input[type="text"],
.form input[type="email"] {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  width: 100%;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rbga(white, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  display: block;
  transition: all 0.3s;
}
.form input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #e69c26;
}
.form input:focus:invalid {
  border-bottom: 3px solid #ff7730;
}
.form input::-webkit-input-placeholder .form input::placeholder {
  color: #333;
}
.form input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #fff inset;
  -webkit-text-fill-color: #333;
}
.form label {
  font-size: 1.2rem;
  font-weight: 700;
  display: block;
  transition: all 0.3s;
  color: chartreuse;
  margin-left: 2rem;
  color: inherit;
}
.form input:placeholder-shown + label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}
.form input[type="radio"] {
  position: absolute;
  opacity: 0;
  z-index: 10;
  width: 2rem;
  height: 2rem;
}
.form input[type="radio"]:hover + .bttn-radio {
  border-radius: 50%;
  box-shadow: 0 0 0.5rem 0.1rem inset #2565a1;
}
.form .radio__group {
  width: 10rem;
  display: inline-block;
  position: relative;
}
@media (max-width: 800px) {
  .form .radio__group {
    margin: auto;
    width: 30%;
  }
}
@media (max-width: 600px) {
  .form .radio__group {
    margin: auto;
    width: 10rem;
  }
}
.form .bttn-radio {
  margin-top: 0.2rem;
  transition: all 1.1s;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  transform: scale(0.9);
  background: rgba(253, 202, 36, 0.5);
  border-radius: 50%;
}
.form input[type="radio"]:checked + .bttn-radio {
  background: #2565a1;
  border-radius: 50%;
  transform: scale(1.02);
}

.popup {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 5000;
  background-color: rgba(0, 0, 0, 0.8);
  visibility: hidden;
}
.popup-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 70%;
  background-color: #fff;
  opacity: 1;
  box-shadow: 0 0.5em 0.8em rgba(0, 0, 0, 0.6);
}
.popup:target {
  visibility: visible;
}

.comment-box-holder {
  margin: 0 auto;
}

.comment-box {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  transform: skewX(-8deg);
  overflow: hidden;
}
.comment-box > * {
  transform: skewX(8deg);
}
.comment-box__shape {
  width: 15rem;
  height: 15rem;
  float: left;
  -webkit-shape-outside: circle(50% at 50% 50%);
  shape-outside: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  transform: translateX(-3rem) skewX(8deg);
  position: relative;
  overflow: hidden;
}
.comment-box .description {
  transition: all 0.5s;
  font-size: 1.7rem;
  text-transform: uppercase;
  color: white;
  text-align: center;
  font-size: medium;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  opacity: 0;
}
.comment-box:hover .description {
  opacity: 1;
  transform: translate(-50%, -50%);
}
.comment-box__img {
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s;
}
.comment-box:hover .comment-box__img {
  transform: translate(-50%, -50%) scale(1.1);
  filter: brightness(50%);
}
.comment-box:not(:last-child) {
  margin-bottom: 5rem;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
@media (max-width: 800px) {
  .row:not(:last-child) {
    margin-bottom: 0;
  }
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row [class^="col-"] {
  float: left;
}
.row [class^="col-"]:not(:last-child) {
  margin-right: 3rem;
}
@media (max-width: 800px) {
  .row [class^="col-"]:not(:last-child) {
    margin-bottom: 6rem;
    margin-right: 0;
  }
}
@media (max-width: 800px) {
  .row [class^="col-"] {
    width: 100% !important;
  }
}
.row .col-1-of-2 {
  width: calc((100% - 3rem) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - 2 * 3rem) / 3);
}
.row .col-2-of-3 {
  width: calc(2 * ((100% - 2 * 3rem) / 3) + 3rem);
}
.row .col-1-of-4 {
  width: calc((100% - 3 * 3rem) / 4);
}
.row .col-2-of-4 {
  width: calc(2 * ((100% - 3 * 3rem) / 4) + 3rem);
}
.row .col-3-of-4 {
  width: calc(3 * ((100% - 3 * 3rem) / 4) + 2 * 3rem);
}

.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(253, 202, 36, 0.8),
      rgba(37, 101, 161, 0.8)
    ),
    url(../img/hero-small.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}
@media (max-width: 600px) {
  .header {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  }
}
@media (min-resolution: 192dpi) and (min-width: 600px) {
  .header {
    background-image: linear-gradient(
        to right bottom,
        rgba(253, 202, 36, 0.8),
        rgba(37, 101, 161, 0.8)
      ),
      url(../img/hero.jpg);
  }
}
.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}
.header__logo {
  height: 3.5rem;
}
.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

main {
  background-color: #f7f7f7;
}

.section-about {
  padding: 20rem 0;
  margin-top: -20vh;
  background-color: #f8f8f8;
}
@media (max-width: 800px) {
  .section-about .row {
    width: 80%;
    text-align: center;
  }
  .section-about > .u-margin-bottom-big {
    margin-bottom: 1rem !important;
  }
  .section-about .bttn-sm {
    margin: auto;
    text-align: center;
  }
}

.section-features {
  margin-top: -20vh;
  margin: auto 0;
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba(253, 202, 36, 0.8),
      rgba(37, 101, 161, 0.8)
    ),
    url("../img/hero.jpg");
  -webkit-clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
  clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
}
.section-features .row {
  width: 80%;
}
@media (max-width: 800px) {
  .section-features .row {
    width: 24rem;
  }
}
@media (max-width: 600px) {
  .section-features .row {
    width: 24rem;
  }
}
.section-features .card {
  margin: 0 auto;
  padding: 2.5em;
  padding-bottom: 1.6rem;
  text-align: center;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.7);
  height: 30rem;
  animation: moveInBottom 1s ease-out;
  transition: all 1s;
}
@media (max-width: 800px) {
  .section-features .card {
    height: 30rem;
    padding: 2.5rem;
    padding-top: 4rem;
  }
}
@media (max-width: 600px) {
  .section-features .card {
    height: 30rem;
    padding: 2rem;
    padding-top: 4rem;
  }
}
.section-features .card:hover {
  transform: translateY(-2em);
  box-shadow: 0 2em 2em rgba(0, 0, 0, 0.4);
}
.section-features img {
  max-height: 7rem;
  margin: auto;
  opacity: 50%;
}

.section-tours {
  margin-top: -20vh;
  padding: 15rem 0;
  width: 100%;
  margin: 0 auto;
}
.section-tours .row {
  width: 85%;
}

.section-comments {
  position: relative;
  padding: 15rem 0;
}
.section-comments.photo {
  background-image: linear-gradient(
      to right bottom,
      rgba(253, 202, 36, 0.8),
      rgba(37, 101, 161, 0.8)
    ),
    url("../img/nat-6.jpg");
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
}

.section-form {
  padding: 15rem 0 15rem 0;
}
.section-form .row {
  background-image: linear-gradient(
      105deg,
      rgba(255, 255, 255, 0.9) 0%,
      rgba(255, 255, 255, 0.9) 50%,
      transparent 50.1%
    ),
    url("../img/nat-10.jpg");
  width: 80%;
  height: 45rem;
  box-shadow: 0 0.5em 0.8em rgba(0, 0, 0, 0.25);
}
@media (max-width: 600px) {
  .section-form .row {
    width: 100%;
    background-image: linear-gradient(
        105deg,
        rgba(255, 255, 255, 0.9) 0%,
        rgba(255, 255, 255, 0.9) 100%
      ),
      url("../img/nat-10.jpg");
  }
}
